{% extends "layout.html" %}

{% block body %}
<div class="container">

  <img src="https://cdn-icons-png.flaticon.com/512/3976/3976631.png" width="100" height="100" class="rounded mx-auto d-block"  alt="...">
    <h1 class="text-center mt-5">EDUCATION</h1>
  </div>

  <div class="container">
  <table class="table table-INFO table-striped">
    <thead>
      <tr>
        <th scope="col">DEGREE</th>
        <th scope="col">INSTITUATION</th>
        <th scope="col">RESULTS</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SSC</td>
        <td>Bajitpur H.A.R.P.M.H School</td>
        <td>4.50</td>
       
      </tr>
      <tr>
        <td>HSC</td>
        <td>Mohammadpur Kendriyo Colege</td>
        <td>4.00</td>
       
      </tr>
      <tr>
        <td>Bsc</td>
        <td>Daffodil International Univercity</td>
        <td>Continue</td>
      </tr>
    </tbody>
  </table>
  </div>


  <div class="container mt-5" class="w-90 p-3" style="background-color: rgb(12, 222, 250);">
    <div class="card">
      <div class="card-header">
        <h3 class="w-90 p-3" style="background-color: rgb(12, 222, 250);">EXTRA ORDINARY</h3>
      </div> 
      <div class="card-body">
        <div class="row">

          <div class="col">
            <h5>GOAL</h5>
            <ul>
              <li>Programmer</li>                      
              <li>Graphics Designer </li>
              <li>Become a Rich</li>
            </ul>
            
          </div>
          <div class="col">
            <h5>HOBBY</h5>
            <ul>
              <li>Business</li>
              <li>Playing Cricket</li>
              <li>Freelancing</li>
            </ul>
          </div>
          
          <div class="col">
            <h5>FAVOURITE PLACE</h5>       
            <ul>
              <li>Sea Beach</li>
              <li>Chittagong Hill Tracks</li>
              <li>Sajek Valley</li>
              <li>Sylhet</li>            
            </ul>
          </div>
            <div class="col">
              <h5>FAVOURITE MOVIE</h5>
              <ul>
                <li>Avengers</li>
                <li>X-MAN</li>
                <li>Aladhin</li>
                <li>Van Helsing</li>            
              </ul>
            </div>
        </div>
        
        <div class="row">
          <div class="col">
            <h5>FAVOURITE ACTOR</h5>
            <ul>
              <li>SRK</li>
              <li>Charles Chaplin</li>
              <li>Mr.Bean</li>             
            </ul>
          </div>
          <div class="col">
            <h5>GAMING </h5>
            <ul>
              <li>Cricket</li>
              <li>Football</li>
              <li>PUBG Mobile</li>                       
            </ul>
          </div>
          <div class="col">
            <h5>FAVOURITE PLAYER</h5>       
            <ul>
              <li>Lionel Messi</li>
              <li>Chris Gayle</li>
              <li>Sakib Al Hasan</li>
              <li>Panda Gaming</li>            
            </ul>
          </div>
          
          <div class="col">
            <h5>FAVOURITE FOOD</h5>
            <ul>
              <li>Pizza</li>                      
              <li>BBQ </li>
              <li>Biriyani</li>
              <li>Chiken Roast</li>
            </ul>
            
          </div>
        </div>
        </div>                   
      </div>       
    </div> 
{% endblock %}